public net.minecraft.world.Explosion field_77283_e # exploder
public net.minecraft.world.Explosion field_77280_f # size
public net.minecraft.network.datasync.EntityDataManager field_187234_c # entries
public net.minecraft.network.datasync.EntityDataManager field_187236_e # empty
public net.minecraft.network.datasync.EntityDataManager field_187235_d # lock

# Entity data keys
public net.minecraft.entity.Entity field_184240_ax # FLAGS
public net.minecraft.entity.Entity field_184241_ay # AIR
public net.minecraft.entity.Entity field_184242_az # CUSTOM_NAME
public net.minecraft.entity.Entity field_184233_aA # CUSTOM_NAME_VISIBLE
public net.minecraft.entity.Entity field_184234_aB # SILENT
public net.minecraft.entity.Entity field_189655_aD # NO_GRAVITY

# EntityPlayer method
public net.minecraft.entity.player.EntityPlayer func_70088_a()V # entityInit