# Explosion
public net.minecraft.world.Explosion field_77283_e # exploder
public net.minecraft.world.Explosion field_77280_f # size

# EntityDataManager
public net.minecraft.network.datasync.EntityDataManager field_187234_c # entries
public net.minecraft.network.datasync.EntityDataManager field_187236_e # empty
public net.minecraft.network.datasync.EntityDataManager field_187235_d # lock

# Entity data keys
public net.minecraft.entity.Entity field_184240_ax # FLAGS
public net.minecraft.entity.Entity field_184241_ay # AIR
public net.minecraft.entity.Entity field_184242_az # CUSTOM_NAME
public net.minecraft.entity.Entity field_184233_aA # CUSTOM_NAME_VISIBLE
public net.minecraft.entity.Entity field_184234_aB # SILENT
public net.minecraft.entity.Entity field_189655_aD # NO_GRAVITY

# EntityLivingBase data keys
public net.minecraft.entity.EntityLivingBase field_184621_as # HAND_STATES
public net.minecraft.entity.EntityLivingBase field_184632_c # HEALTH
public net.minecraft.entity.EntityLivingBase field_184633_f # POTION_EFFECTS
public net.minecraft.entity.EntityLivingBase field_184634_g # HIDE_PARTICLES
public net.minecraft.entity.EntityLivingBase field_184635_h # ARROW_COUNT_IN_ENTITY

# EntityPlayer data keys
public net.minecraft.entity.player.EntityPlayer field_184829_a # ABSORPTION
public net.minecraft.entity.player.EntityPlayer field_184830_b # PLAYER_SCORE
public net.minecraft.entity.player.EntityPlayer field_184827_bp # PLAYER_MODEL_FLAG
public net.minecraft.entity.player.EntityPlayer field_184828_bq # MAIN_HAND
public net.minecraft.entity.player.EntityPlayer field_192032_bt # LEFT_SHOULDER_ENTITY
public net.minecraft.entity.player.EntityPlayer field_192033_bu # RIGHT_SHOULDER_ENTITY